<ion-content [fullscreen]="true">
  <ion-row class="row">
    <ion-col size="6">
      <div id="img" style="background-image: url('https://images.pexels.com/photos/12317909/pexels-photo-12317909.jpeg?auto=compress&cs=tinysrgb&w=1600')">
      </div>
    </ion-col>

    <ion-col class="row" id="container" size="6">
      <ion-label class="title ion-margin">Criar Conta</ion-label>

      <ion-input label="Nome" labelPlacement="floating"></ion-input>
      <ion-input label="Email" type="email" labelPlacement="floating"></ion-input>
      <ion-input label="Senha" type="password" labelPlacement="floating"></ion-input>
      <ion-input class="ion-margin-bottom" label="Confirmar Senha" type="password" labelPlacement="floating">
      </ion-input>

      <ion-button class="button-singup ion-margin">Criar Conta</ion-button>

      <ion-label class="text ion-margin">Login Com</ion-label>

      <ion-button size="default" class="button-facebook ion-margin">Facebook</ion-button>
      <ion-button size="default" class="button-twitter ion-margin">Twitter</ion-button>
      <ion-button size="default" class="button-google ion-margin">Google</ion-button>

    </ion-col>
  </ion-row>
</ion-content>